.body{
    background-color: #000;
    width: 100%;
    height: 1000px;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.Rectangle8{
    width: 360px;
    height: 800px;
    display: flex;
    flex-direction: column;
    background-color: #ffffff;
    margin-left: 800px;
    margin-top: -800px;
}
.Text-Signup{
    width: 87px;
    height: 36px;
    margin-top: 119px;
    margin-left: 140px;
    font-size: 24px;
    font-weight: 700;
    line-height: 18px;
    font-family: Arial, Helvetica, sans-serif;
}
.form{
    width: 312px;
    height: 48px;
    margin-top: 30px;
    margin-left: 24px;
    border-radius: 10px;
    border: 1px solid darkcyan;
    text-align: center;
}
.form-1{
    width: 312px;
    height: 48px;
    margin-top: 30px;
    margin-left: 24px;
    border-radius: 10px;
    border: 1px solid darkcyan;
    text-align: center;
}
.text{
    width: 126px;
    height: 18px;
    margin-top: 16px;
    font-weight: 400;
    font-size: 12px;
    color: darkcyan;
}
.text-1{
    width: 151px;
    height: 18px;
    margin-top: 16px;
    font-weight: 400;
    font-size: 12px;
    color: darkcyan;
}
.text-2{
    width: 151px;
    height: 18px;
    margin-top: 16px;
    margin-left: -24px;
    font-weight: 400;
    font-size: 12px;
    color: darkcyan;
}
.eye-password{
    width: 24px;
    height: 24px;
    margin-left: 276px;
    margin-top: -20px;
}
.Rectangle5{
    width: 312px;
    height: 48px;
    margin-top: 40px;
    border-radius: 5px;
    background-color: #0e64d2;
    display: flex;
    flex-direction: row;
    margin-left: 24px;
}
.Text-Signup-1{
    width: 50px;
    height: 21px;
    margin-top: 10px;
    margin-left: 135px;
    font-size: 14px;
    font-weight: 600;
    color: #ffffff;
    line-height: 21px;
    font-family: Arial, Helvetica, sans-serif;
}
.group1{
    width: 232px;
    height: 21px;
    margin-top: 25px;
    margin-left: 64px;
}
.text-already{
    width: 186px;
    height: 21px;
    color: #000;
    font-weight: 500;
    font-size: 14px;
    line-height: 21px;
    font-family: Arial, Helvetica, sans-serif;
}
.login-1{
    width: 38px;
    height: 21px;
    font-weight: 500;
    font-size: 14px;
    color: #2f89fc;
    line-height: 21px;
    font-family: Arial, Helvetica, sans-serif;
    margin-left: 185px;
    margin-top: -22px;
}
.line1{
    width: 139px;
    margin-top: 25px;
    border: 1px solid darkcyan;
    margin-left: 24px;
}
.line2{
    width: 139px;
    margin-left: 170px;
    margin-top: -2px;
    border: 1px solid darkcyan;
    margin-left: 194px;
}
.text-or{
    width: 17px;
    height: 21px;
    margin-left: 171px;
    margin-top: -12px;
    font-size: 14px;
    font-weight: 400;
    color: darkcyan;
    font-family: Arial, Helvetica, sans-serif;
    line-height: 21px;
}
.form-2{
    width: 312px;
    height: 48px;
    margin-top: 20px;
    border-radius: 10px;
    background-color: #1877f2;
    display: flex;
    flex-direction: row;
    margin-left: 24px;
}
.logo-facebook{
    width: 26px;
    height: 26px;
    margin-top: 10px;
    margin-left: 8px;
}
.text-facebook{
    width: 145px;
    height: 21px;
    margin-top: 13px;
    margin-left: 50px;
    font-size: 14px;
    font-weight: 600;
    font-family: Arial, Helvetica, sans-serif;
    color: #ffffff;
    line-height: 21px
}
.form-3{
    width: 312px;
    height: 48px;
    margin-top: 30px;
    border-radius: 10px;
    border: 1px solid darkcyan;
    display: flex;
    flex-direction: row;
    margin-left: 24px;
}
.logo-google{
    width: 26px;
    height: 26px;
    margin-left: 8px;
    margin-top: 10px;
}
.text-google{
    width: 126px;
    height: 21px;
    margin-top: 13px;
    margin-left: 50px;
    font-size: 14px;
    font-weight: 600;
    font-family: Arial, Helvetica, sans-serif;
    color: darkgray;
    line-height: 21px
}
.Rectangle6{
    width: 360px;
    height: 800px;
    display: flex;
    flex-direction: column;
    background-color: #ffffff;
    margin-top: 100px;
}
.banner-login{
    width: 194px;
    height: 72px;
    margin-top: 119px;
    margin-left: 82px;
    font-weight: 700;
    font-size: 24px;
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
    line-height: 36px;
}
.Rectangle1{
    width: 312px;
    height: 48px;
    margin-top: 30px;
    margin-left: 24px;
    border-radius: 10px;
    border: 1px solid darkcyan;
    text-align: center;
}
.text-3{
    width: 170px;
    height: 18px;
    margin-top: 16px;
    font-weight: 400;
    font-size: 12px;
    color: darkcyan;
}
.Rectangle2{
    width: 312px;
    height: 48px;
    margin-top: 25px;
    margin-left: 24px;
    border-radius: 10px;
    border: 1px solid darkcyan;
    text-align: center;
}
.forgot-password{
    width: 125px;
    height: 21px;
    margin-top: 10px;
    margin-left: 117px;
    font-weight: 500;
    font-size: 14px;
    color: #2f89fc;
    font-family: Arial, Helvetica, sans-serif;
    line-height: 21px;
}
.Rectangle3{
    width: 312px;
    height: 48px;
    margin-top: 10px;
    border-radius: 5px;
    background-color: #0e64d2;
    display: flex;
    flex-direction: row;
    margin-left: 24px;
}
.me-logo{
    width: 48px;
    height: 48px;
    margin-left: 24px;
    margin-top: 80px;
}
.text-me{
    width: 138px;
    height: 36px;
    margin-left: 78px;
    margin-top: -40px;
    font-size: 12px;
    color: darkcyan;
    font-weight: 700;
    font-family: Arial, Helvetica, sans-serif;
    line-height: 18px;
}